*.pyc
*~
__pycache__
WebDev
db.sqlite3
teamProj.db
.DS_Store
.env
DataCSV
timers/migrations
training/migrations
schedule/migrations
metrics/migrations
challenge/migrations
charts/migrations
team1
TODO.txt
