{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item">{{ date }}</li>
<li class="breadcrumb-item active">{{athlete.user.username}}</li>
{% endblock %}

{% block content %}
<div class="">
  <h3>{{section}}</h3>
  <p>{{description}}</p>
</div>

{% if timer %}
<div class="">
  {% include 'includes/timer.html' %}
</div>
{% endif %}
<div class="">
  <form method="post" novalidate>
    {% csrf_token %}

    {% if formset %}
        {% include 'includes/formset.html' %}
    {% else %}
        {% include 'includes/form.html' %}
    {% endif %}

    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-success" href="{% url 'home' %}">Cancel</a>
  </form>


</div>
{% endblock %}
