{% extends 'base.html' %}

{% block title %} Add Pinch Training{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{date}}</li>
  <li class="breadcrumb-item"><a href="{% url 'athletePage' %}">{{ athlete.user.username }}</a></li>
  <li class="breadcrumb-item">Max Conditioning</li>
{% endblock %}

{% block content %}

<form method="post" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}

  <button type="submit" class="btn btn-success">Submit</button>
  <a class="btn btn-success" href="{% url 'athletePage' %}">Finished</a>

</form>


{% endblock %}
