{% extends 'base.html' %}
{% block title %}
{{ block.super }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">{{athlete.user.username}}</li>
<li class="breadcrumb-item">{{ date }}</li>
{% endblock %}

{% block content %}
<div class='mb-4'>
  <a href='{% url 'newConditioning' %}' class='btn btn-primary'>Add Conditioning</a>
  <a href='{% url 'weighted_hangs' %}' class='btn btn-primary'>Add Weighted Hangs</a>
  <a href='{% url 'pinch_blocks' %}' class='btn btn-primary'>Add Pinch Training</a>

</div>

<table class="table table-sm table-striped table-bordered">

  <thead class="thead-inverse">
    <h4> Most Recent Conditioning</h4>
  <tr>
    <th>Session</th>
    <th>Triceps</th>
    <th>Push</th>
    <th>Pulls</th>
    <th>Core</th>

  </tr>
</thead>

<tbody>
  {% for condition in conditioning %}
  <tr>
    <td class="align-middle">{{ condition.0.session.sessionDate }}</td>

{% for item in condition %}
 {% if item.repetitions == item.exercise.get_avg %}
    <td class="table-warning align-middle">{{ item.repetitions}}
      <small class="text-muted d-block">{{ item.exercise }} </small>
   </td>

 {% elif item.repetitions < item.exercise.get_avg %}
    <td class="table-danger align-middle">{{ item.repetitions}}
      <small class="text-muted d-block">{{ item.exercise }} </small>
    </td>

 {% elif item.repetitions > item.exercise.get_avg %}
    <td class="table-success align-middle">{{ item.repetitions}}
      <small class="text-muted d-block">{{ item.exercise }} </small>
    </td>

{% endif %}
{% endfor %}
  </tr>

{% endfor %}
</tbody>
</table>

<table class='table table-sm table-striped table-bordered'>
<thead class='thead-inverse'>
<h4 class ='py-3'>Most Recent Weighted Hangs-Max Weight:
</h4>
<tr>
  <th>Session</th>
  <th>Str-S</th>
  <th>Str-M</th>
  <th>Str-L</th>
</tr>
{% for item in str-hangs %}
<tr>
  {% if item.hang == 'Small - Straight Arm'}
  <td>
    {{item.weight}}
  </td>
  {% elif item.hang == 'Medium - Straight Arm'}
  <td>
    {{item.weight}}
  </td>
  {% if item.hang == 'Large - Straight Arm'}
  <td>
    {{item.weight}}
  </td>
</tr>
</thead>
<thead class='thead-inverse'>
<tr>
  <th></th>
  <th>Lock-S</th>
  <th>Lock-M</th>
  <th>Lock-L</th>
</tr>
<tr>
</tr>
</thead>
<thead class='thead-inverse'>
<tr>
  <th></th>
  <th>Str-3-1</th>
  <th>Str-1-3</th>
  <th>Lock-3-1</th>
  <th>Lock-1-3</th>
</tr>
<tr>
</tr>
</thead>
{% endblock %}
