{% extends 'base.html' %}
{% block title %}
{{ block.super }}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">{{athlete.user.username}}</li>
<li class="breadcrumb-item">{{ date }}</li>
{% endblock %}
{% block content %}
<div class='mb-4'>
  <a href='{% url 'newConditioning' %}' class='btn btn-primary'>Add Conditioning</a>
  <a href='{% url 'newConditioning' %}' class='btn btn-primary'>Add Conditioning</a>

</div>
<table class="table table-sm table-striped table-bordered">
  <thead class="thead-inverse">
    <h5> Most Recent Conditioning</h5>
  <tr>
    <th>Session</th>
    {% for condition in conditioning.1 %}
    <th>{{ condition.exercise.category }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for condition in conditioning %}
  <tr>
    <td class="align-middle">{{ condition.0.session.sessionDate }}</td>
    {% for item in condition %}
    <td class="align-middle">{{ item.repetitions}}
<small class="text-muted d-block">{{ item.exercise }} </small>
</td>
{% endfor %}
</tr>

{% endfor %}

{% endblock %}
