{% extends 'base.html' %}
{% block title %}
{{ block.super }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">{{ date }}</li>
<li class="breadcrumb-item active">{{athlete.user.username}}</li>
{% endblock %}

{% block content %}

<table class="table table-sm table-striped table-bordered">

  <thead class="thead-inverse">
    <h4> Most Recent Conditioning</h4>
  <tr>
    <th>Exercise</th>
    <th>Repetitions</th>
    <th>Goal</th>


  </tr>
</thead>

<tbody>
  {% for condition in conditioning %}
  <tr>
    {% if condition.object.repetitions >= condition.object.exercise.goal %}
    <td class="align-middle table-success">{{ condition.object.exercise }}
      <div>  <small class="text-right">BUMP UP!</small></div>
    </td>

      {% else %}
      <td class="align-middle">{{ condition.object.exercise }}</td>
{% endif %}

    {% if condition.object.repetitions == condition.average %}
    <td class="table-warning align-middle">{{ condition.object.repetitions}}
    </td>

    {% elif condition.object.repetitions < condition.average %}
    <td class="table-danger align-middle">{{ condition.object.repetitions}}
    </td>

    {% elif condition.object.repetitions > condition.average %}
    <td class="table-success align-middle">{{ condition.object.repetitions}}
    </td>

{% endif %}

    <td class="align-middle">{{ condition.object.exercise.goal }}
    </td>

  </tr>

{% endfor %}
</tbody>
</table>
<a href='{% url 'newConditioning' %}' class='btn btn-primary'>Add Conditioning</a>


{% if athlete.can_do_weigthed_exercise %}
<table class='table table-sm table-striped table-bordered'>
<thead class='thead-inverse'>
<h4 class ='py-3'>Most Recent Weighted Hangs-Max Weight: {{ max_weighted_hangs.weight }}
</h4>
<tr>
  <th>Weighted Hangs</th>
  <th>Seconds</th>
  <th>Weight</th>
</tr>
</thead>

<tbody>
{% for item in weighted_hangs %}
<tr>
  <td>{{ item.hang }}</td>
  <td>{{ item.seconds}}</td>
  <td>{{ item.weight }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<a href='{% url 'weighted_hangs' %}' class='btn btn-primary'>Add Weighted Hangs</a>

<h4 class ='py-3'>Most Recent Pinch Training-Max Weight: {{ max_weighted_pinch.weight }}
</h4>

<table class='table table-sm table-striped table-bordered'>
<thead class='thead-inverse'>
<tr>
  <th>Pinch Training</th>
  <th>Seconds</th>
  <th>Weight</th>
</tr>
</thead>
<tbody>

  {% for item in pinch_training %}

  <tr>
    <td>{{ item.pinch }}</td>
    <td>{{ item.seconds }}</td>
    <td>{{ item.weight }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<a href='{% url 'pinch_blocks' %}' class='btn btn-primary'>Add Pinch Training</a>


{% endif %}
{% endblock %}
