{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Training for Climbing{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/training.css' %}">
    <link rel="stylesheet" href="{% static 'css/flipclock.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/easytimer.min.js' %}"></script>
    <script src="{% static 'js/timer.js' %}"></script>

    {% block stylesheet %}{% endblock %}
  </head>
  <body>

   {% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Training for Climbing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">

                {% ifequal user.groups.all.0.name 'Coach' %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id='CoachMenu' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Coach's Forms
                  </a>
                 <div class='dropdown-menu dropdown-menu-right' aria-labelledby="userMenu">
                   <a class="dropdown-item" href="{% url 'ccform' %}">Conditioning</a>
                   <a class="dropdown-item" href="{% url 'coach_weighted_hangs' %}">Weighted Hangs</a>
                   <a class="dropdown-item" href="{% url 'coach_pinch_blocks' %}">Pinch Blocks</a>
                   <a class="dropdown-item" href="{% url 'coach_max_conditioning' %}">Max Conditioning</a>
                 </div>
                </li>


                  {% endifequal %}


                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id='TrainingMenu' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Training
                    </a>
                    <div class='dropdown-menu dropdown-menu-right' aria-labelledby="userMenu">
                      <a class="dropdown-item" href="{% url 'athletePage' %}">Conditioning</a>
                      <!-- <a class="dropdown-item" href="{% url 'timer_home' %}">Hangboard</a> -->
                      <a class="dropdown-item" href="{% url 'protocol_display' 'Hangboard' %}">Hangboard</a>
                      <a class="dropdown-item" href="{% url 'protocol_display' 'Boulder Routine' %}">Boulder Routines</a>
                      <a class="dropdown-item" href="{% url 'protocol_display' 'Rope Routine' %}">Rope Routines</a>
                    </div>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'athleteMetrics' %}">Evaluation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'challenge_categories' %}">Summer Challenges</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'practice_schedule' %}">Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'practice_home' %}">Assigned Schedule</a>
                  </li> -->

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id='userMenu' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                    </a>
                   <div class='dropdown-menu dropdown-menu-right' aria-labelledby="userMenu">
                     <a class="dropdown-item" href="{% url 'athleteInfo' %}">My Account</a>
                     <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                   </div>
                  </li>
                </ul>
                {% else %}
                <form class="form-inline ml-auto">
                   <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                   <a href="#" class="btn btn-primary ml-2">Sign up</a>
                </form>
            {% endif %}
              </div>
      </div>
    </nav>
<div class="background">
    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>

    {% endblock body %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}

  </div>
  </body>
  <footer class="pt-3">
    <div class='bg-dark'>
      <div class='blockquote text-white text-center'>
        <p class='p-5'>{{quote.quote}}</p>
        <p class= 'pb-4 blockquote-footer'>{{quote.author}}</p>
      </div>
    </div>
  </footer>
</html>
