{% extends 'base.html' %}
        {% block breadcrumb %}
        <li class="breadcrumb-item active">It's prime climbing time, {{ athlete.user.username }}!</li>
        {% endblock %}

      {% block content %}
      <div class='mb-4'>
        <a href='{% url 'athletePage' %}' class='btn btn-primary'>Training Log</a>

      </div>
      <h4>Welcome to the Sacramento Pipeworks Competitive Team page.</h4>
<div class="my-4">
<p>This pAGe iS a work in pROGRess...</p>
  <a href="http://www.usaclimbing.org/Disciplines/Bouldering/2017-2018_Season_Schedule___Results.htm" target="_blank">
    USAClimbing Schedule
  </a>

<div class="container">
<table class="table">
  <thead>Team Event Calendar</thead>
  <tbody>
    {% for event in calendar %}
    <tr>
      <td>
        <div>{{event.event_title}}</div>
        <div>{{event.event_date}}</div>
        <div>{{event.event_location}}</div>
        <div>{{event.event_format}}</div>
        <div>{{event.event_description}}</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
