{% extends 'base.html' %}

{% block title %} Practice Schedule{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{date}}</li>
  <li class="breadcrumb-item"><a href="{% url 'athletePage' %}">{{ athlete.user.username }}</a></li>

{% endblock %}

{% block content %}
<div>
<table class="table">
  <thead>Practice Schedule</thead>
  <tbody>
    {% for activity in schedule %}
    <tr>
      <td>
        <div>Warmup:{{activity.warmup}}</div>
        <div>Technique:{{activity.technique}}</div>
        <div>Routine:{{activity.routine_1}}</div>
        <div>{{activity.routine_2}}</div>
        <div>Conditioning:{{activity.conditioning_1}}</div>
        <div>{{activity.conditioning_1}}</div>
        <div>{{activity.finger_training}}</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div>
<table class="table">
  <thead>Extra  Practice</thead>
  <tbody>
    {% if assigned_practice is not None %}
    {% for activity in assigned_practice %}
    <tr>
      <td>
        <div>{{activity.comment}}
        <div>{{activity.practice.warmup}}</div>
        <div>{{activity.practice.technique}}</div>
        <div>{{activity.practice.routine_1}}</div>
        <div>{{activity.practice.routine_2}}</div>
        <div>{{activity.practice.conditioning_1}}</div>
        <div>{{activity.practice.conditioning_1}}</div>
        <div>{{activity.practice.finger_training}}</div>

      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>No additional practices</td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>
{% endblock %}
