{% extends 'base.html' %}

{% block title %} Practice Schedule{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{date}}</li>
  <li class="breadcrumb-item"><a href="{% url 'athletePage' %}">{{ athlete.user.username }}</a></li>

{% endblock %}

{% block content %}
<div>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Practice Schedule</th>
    </tr>
  </thead>
  <tbody>
    {% for activity in schedule %}
    <tr>
      <td>
        <div>Date:{{activity.date}}</div>
        <div>Warmup:{{activity.warmup}}</div>
        <div>Technique:{{activity.technique}}</div>
        <div>Routine:{{activity.routine_1}}</div>
        <div>{{activity.routine_2}}</div>
        <div>Conditioning:{{activity.conditioning_1}}</div>
        <div>{{activity.conditioning_1}}</div>
        <div>{{activity.finger_training}}</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div>
  <a href='{% url "practice" "assigned_practice.id" %}' class="btn btn-primary">Start Session</a>
</div>
<div>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Assigned Practice</th>
    </tr>
  </thead>
  <tbody>
    {% if assigned_practice is not None %}
    {% for activity in assigned_practice %}
    <tr>
      <td>
        <div><small>Date: </small>{{activity.practice.date}}</div>
        <div>{{activity.comment}}</div>
        <div><small>Warmup: </small>{{activity.practice.warmup}}</div>
        <div><small>Technique: </small>{{activity.practice.technique}}</div>
        <div><small>Routine: </small>{{activity.practice.routine_1}}</div>
        <div><small></small>{{activity.practice.routine_2}}</div>
        <div><small>Conditioning: </small>{{activity.practice.conditioning_1}}</div>
        <div><small></small>{{activity.practice.conditioning_2}}</div>
        <div><small>Finger Training: </small>{{activity.practice.finger_training}}</div>

      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>No additional practices</td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>
{% endblock %}
