{% extends 'base.html' %}
{% block breadcrumb %}

<li class="breadcrumb-item">Goals</li>
<li class="breadcrunb-item active">Home</li>

{% endblock %}
{% block content %}

<h3>Goals</h3>
<h4>Importance</h4>
<p>The importance of setting goals. It improves motivations and drive and gives a purpose to training.
</p>
<h4>SMART</h4>
<ol>
  <li>Specific</li>
  <li>Measurable</li>
  <li>Action-Oriented</li>
  <li>Realistic</li>
  <li>Time-Bound</li>
</ol>
<h4>Examples</h4>
<p>First example</p>
<p>Second example</p>
<p>Third example</p>

{% endblock %}
