{% extends 'base.html' %}

{% block title %} Add Weighted Hangs{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">{{date}}</li>
  <li class="breadcrumb-item"><a href="{% url 'athletePage' %}">{{ athlete.user.username }}</a></li>
  <li class="breadcrumb-item">Weighted Hangs</li>
{% endblock %}

{% block content %}

<h4>Completed:
</h4>
<table class='table table-sm table-striped table-bordered'>
<thead class='thead-inverse'>
<tr>
  <th>Weighted Hangs</th>
  <th>Seconds</th>
  <th>Weight</th>
</tr>
</thead>

<tbody>
{% for item in weighted_hangs %}
<tr>
  <td>{{ item.hang }}</td>
  <td>{{ item.seconds}}</td>
  <td>{{ item.weight }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h4>Next:
</h4>

<form method="post" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}

  <button type="submit" class="btn btn-success">Submit</button>
  <a class="btn btn-success" href="{% url 'athletePage' %}">Cancel</a>

</form>
{% endblock %}
